@use "../base/variables" as *;

/* HEADING STYLES*/
.heading-xl {
    font-size: 88px;
    font-weight:700;
    line-height: 88px;
    letter-spacing: -2.5px;
    color:$white;
}
.heading-l {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.5px;
}
.heading-m {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.text-s {
    font-size: 18px;
    font-weight: 400;
        line-height: 28px;
}