@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.footer {
    background-color: $gray;
    padding-top: 60px;
    &__title {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 40px;
            line-height: 40px;
            font-family: "Space Grotesk Bold";
            margin-bottom: 18px;
        }
        p {
            font-size: 16px;
            font-family: "Space Grotesk Medium";
            line-height: 26px;
            color:$pure-white;
        }
    }
    &__form {
        form {
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            row-gap: 32px;
            margin-bottom: 87px;
            input, textarea {
                background:none;
                border:none;
                border-bottom: solid 2px $white;
                height:43px;
                padding-left: 24px;
                outline:none;
                font-size: 16px;
                color:$white;
                text-transform: uppercase;
                font-weight: 500;
                font-family: "Space Grotesk Medium";
            }
            textarea {
                padding-bottom: 50px;
            }
            input::placeholder, 
            textarea::placeholder {
                text-transform: uppercase;
                line-height: 26px;
                font-weight: 500;
                font-family: "Space Grotesk Medium";
            }
            button {
                @include button;
            }
        }
        &--btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    &__social-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding:39px 0 60px 0;
    }
    &__social-links-wrapper {
        width: fit-content;
    }
    &__logo {
        margin: 0 13px 20px 13px;
        font-family: "BBH Bartle", sans-serif;
    }
    &__links-wrapper {
        display: flex;
        justify-content: space-between;
    }
}
@include tablet-media {
    .footer {
        padding:0;
        &__wrapper {
            padding:60px 131px 92px 131px;
            border-bottom: solid 2px $pure-white;
        }
        &__form {
            form {
                margin-bottom: 0;
            }
        }
        &__social-links {
            display: flex;
            flex-direction: row;
            position: unset;
            width: 100%;
            justify-content: space-between;
            transform: translate(0%);
            padding:30px 0 40px 0;
        }
        &__logo {
            margin: 0;
            font-size: 28px;
        }
        &__social-links-wrapper {
            width: 100%;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__links-wrapper {
            width:192px;
        }
    }
}
@include desktop-media {
    .footer {
        &__wrapper {
            display: flex;
            flex-direction: row;
            padding:0;
            justify-content: space-between;
            column-gap: 220px;
            padding:84px 0 92px 0;
        }
        &__title {
            text-align: left;
            margin:0;
            h2 {
                font-size:88px;
                line-height: 88px;
                margin-bottom: 39px;
            }
            p {
                font-size: 18px;
            }
        }
        &__form {
            width:80%;
            &--btn {
                width: 100%;
            }
        }
        &__social-links {
            padding: 47px 0 92px 0;
        }
        &__links-wrapper {
            svg:hover {
                transform: scale(1.4);
                transition: all 0.5s ease-in-out;
                path {
                    fill: $green;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
}