@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &__top {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
    }
    &__logo {
        margin: 0 13px 20px 13px;
        font-family: "BBH Bartle", sans-serif;
        -webkit-animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &__social-links {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        position: relative;
        font-size: 40px;
        margin: 40px 0 24px 0;
        order: 2;
        // -webkit-animation: focus-in-expand 3.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        // animation: focus-in-expand 3.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        // -webkit-animation: tracking-in-contract 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        // animation: tracking-in-contract 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    &__img-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__img {
        display: block;
        filter: drop-shadow(0 7px 40px rgba(0, 0, 0, 0.8));
        order: 1;
        height:580px;
        margin-top: 80px;
    }
    &__description {
        order: 3;
        color: $pure-white;
        margin-bottom: 34px;
    }
    &__marked-text {
        border-bottom: solid 4px $green;
    }
    &__contact-btn-container {
        order: 4;
        margin-bottom: 80px;
        a {
            margin-top: 34px;
            @include button;
        }
    }
    &__pattern-rings {
        position: absolute;
        width:fit-content;
        right:500px;
        top:240px;
    }
}
@include tablet-media {
    .header {
        text-align: left;
        &__top {
            display:flex;
            position: unset;
            width: 100%;
            justify-content: space-between;
            transform: translate(0%);
            padding-top:29px;
        }
        &__logo {
            margin:0;
        }
        &__social-links {
            width:192px;
        }
        &__img-container {
            position: relative;
            img {
                position:absolute;
                top:-60px;
                right:-30px;
                z-index: -4;
            }
        }
        &__hero-container {
            max-width: 490px;
        }
        &__text {
            font-size: 72px;
            margin:90px 0 60px 0;
        }
        &__pattern-rings {
            top: 90px;
        }
    }
}
@include desktop-media {
    .header {
        &__top {
            padding:39px 0 0 0;
        }
        &__logo {
            font-size: 32px;
        }
        &__social-links {
            svg:hover {
                transform: scale(1.4);
                transition: all 0.5s ease-in-out;
                path {
                    fill: $green;
                    transition: all 0.5s ease-in-out;
                }

            }
        }
        &__img-container {
            img {
                top: -80px;
                right: 0px;
                z-index: -4;
            }
        }
        &__text {
            font-size: 88px;
            margin:0 0 43px 0;
        }
        &__hero-container {
            max-width:796px;
            margin: 127px 0 219px 0;
        }
        &__contact-btn-container {
            margin:0;
        }
        &__pattern-rings {
            right:980px;
        }
    }
}