@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *; 

.projects {
    margin-top: 80px;
    &__title {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap:wrap;
        row-gap: 10px;
        h2 {
            font-size:40px;
            font-family: "Space Grotesk Bold";
            line-height:40px;
            letter-spacing:1.14px;
        }
        button {
            @include button;   
        }
    }
    &__wrapper {
        display:flex;
        flex-direction: column;
        row-gap: 40px;
        margin-top: 40px;
    }
    &__block {
        display:flex;
        flex-direction: column;
        row-gap: 16px;
        h3 {
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
    &__stack {
        display: flex;
        flex-wrap: wrap;
        p {
            margin-right: 18px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            color:$pure-white;
            text-transform: uppercase;
        }
    }
    &__btn-wrapper {
        display: flex;
        justify-content: space-between;
        button {
            @include button;
        }
    }
}
@include tablet-media {
    .projects {
        margin:0 0 104px 0;
        &__title {
            align-items: center;
            h2 {
                font-size: 72px;
                line-height: 72px;
            }
            button { height:36px }
        }
        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 60px;
            column-gap: 24px;
            justify-content: center;
            margin:56px 0 0 0;
        }
        &__block {
            max-width:342px;
            flex:1, 1, 50%;
        }
    }
}
@include desktop-media {
    .projects {
        margin-bottom: 139px;
        &__wrapper {
            margin:80px 0 0 0;
        }
        &__title {
            h2 {
                font-size: 88px;
            }
        }
        &__block {
            min-width: 540px;
            flex: 1, 1, 70%;
        }
    }
}