@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.skills {
    &__list {
        display:flex;
        flex-direction: column;
        list-style: none;
        row-gap: 24px;
        margin:40px 0 40px 0;
        border-bottom: solid 2px $pure-white;
        li {
            text-align: center;
            font-family: "Space Grotesk Bold";
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
            p {
                font-size: 16px;
                font-family: "Space Grotesk Medium";
                line-height: 26px;
                color:$pure-white;
                margin-top: 5px;
            }
            span {
                -webkit-animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
                animation-play-state: paused;
            }
            span.is-visible {
                animation-play-state: running;
            }
        }   
    }
    &__logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;
        img {
            width: 50px;
        }
    }
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
        h2 {
            font-size: 40px;
            font-family: "Space Grotesk Bold";
            line-height: 40px;
            letter-spacing: 1.14px;
        }
        a {
            @include button;
        }
    }
}

@include tablet-media {
    .skills {
        &__title {
            align-items: center;
            h2 {
                font-size: 72px;
                line-height: 72px;
            }
            button {
                height: 36px
            }
        }
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            padding:52px 0 100px 0;
            border-bottom: none;
            margin:0;
            row-gap: 52px;
            li {
                flex:0 0 50%;
                text-align: left;
                font-size: 48px;
                line-height: 56px;
                p {
                    font-size: 18px;
                    margin-top: 14px;
                }
            }
        }
        &__logo-container {
            justify-content: flex-start;
            padding-left: 20px;
        
        }
    }
}
@include desktop-media {
    .skills {
        &__title {
            h2 {
                font-size: 88px;
            }
        }
        &__list {
            padding:72px 0 140px 0;
            li {
                flex: 0 0 33%;
            }
        }
    }
}