@use "../base/variables" as *;
@use "../base/mixins" as *;

.header {
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &__top {
        position:absolute;
        top:20px;
        left: 50%;
        transform:translate(-50%);
    }
    &__logo {
        margin: 0 13px 20px 13px;
        font-family: "Space Grotesk Bold";
    }
    &__social-links {
        display:flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 40px;
        margin:40px 0 24px 0;
    }
    &__img-container {
        display: flex;
        justify-content: center;
        width:100%;
    }
    &__img {
        order:1;
        width:174px;
    }
    &__description {
        order:3;
        color:$pure-white;
    }
    &__marked-text {
        border-bottom: solid 4px $green;
    }
    &__contact-btn-container {
        order:4;
        margin-bottom: 80px;
        button {
            @include button;
        }
    }
}