@use "base/basic";
@use "base/fonts";
@use "./base/variables" as *;
@use "./base/mixins" as *;
@use "base/breakpoints" as *;
@use "base/animation" as *;

@use "components/buttons";

@use "blocks/header";
@use "blocks/skills";
@use "blocks/projects";
@use "blocks/footer";

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');