@use "base/basic";
@use "base/fonts";
@use "base/variables" as *;
@use "base/mixins" as *;
@use "base/breakpoints" as *;

@use "components/buttons";

@use "blocks/header";
@use "blocks/skills";
@use "blocks/projects";
@use "blocks/footer";