@use "/src/styles/base/variables" as *;
@use "/src/styles/base/breakpoints" as *;

h1,h2,h3,h4,h5,h6,figure,p,ol,ul {
    margin:0;
}
ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
h1,h2,h3,h4,h5 {
    font-size: inherit;
    font-weight: inherit;
}
img {
    display:block;
    max-inline-size: 100%;
}
html {
    font-family: "Space Grotesk",sans-serif;
    scroll-behavior: smooth;
    color:$white;
}
* {
    margin:0;
    padding:0;
}
hr {
    color:$pure-white;
}
body {
    background-color: $black;
    margin:0;
    padding:0;
}
.container {
    padding:0 16px 0 16px;
}
@include tablet-media {
    .container {
        padding:0 30px 0 30px;
    }
}
