@use "/src/styles/base/variables" as *;

@mixin tablet-media {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop-media {
    @media (min-width: $desktop) {
        @content;
    }
}