@use "../base/variables" as *;

@mixin button {
    font-family: "Space Grotesk Bold";
    font-size: 16px;
    color: $white;
    line-height: 26px;
    border: none;
    border-bottom: solid 2px $green;
    background: none;
    text-transform: uppercase;
    letter-spacing: 2.30px;
    margin: 24px 0 0 0;
    padding-bottom: 8px;
}