@use "/src/styles/base/variables" as *;

@mixin button {
    font-family: "Space Grotesk Bold";
    font-size: 16px;
    color: $white;
    line-height: 26px;
    border: none;
    border-bottom: solid 2px $green;
    background: none;
    text-transform: uppercase;
    letter-spacing: 2.30px;
    padding-bottom: 8px;
    text-decoration: none;
    transition:all 0.5s ease-in-out;
    &:hover {
        color:$green;
        transform:scale(1.1);
    }
}